{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="/static/game.js"></script>
<style>
    .splash .splash-container {
        overflow: scroll;
    }

    .sidebar {
        position: absolute;
        width: 10%;
        height: 50%;
        top: 50%;
        right: 1%;
        transform: translateY(-50%);
        color: white;
    }

    .sidebar .splash-head {
        font-size: 1em;
    }
</style>
{%endblock head %}
{% block title %}Decrypto: {{ game }}{% endblock title %}
{% block header %}Decrypto: {{ game }}{% endblock header %}
{% block content %}
<div class="splash-container">
    <div class="splash">
        <p class="splash-head">
            Waiting for game to start.
        </p>
        <p id="teamselect" class="content-head setup noteam">
            <a class="pure-button pure-button-primary" onClick="join_a();">Join Team A</a>
            <a class="pure-button pure-button-primary" onClick="join_b();">Join Team B</a>
        </p>
        <p style="display: none;" id="leaveteam" class="content-head setup team">
            <a class="pure-button pure-button-primary" onClick="leave_team();">Leave Team</a>
        </p>
        <p style="display: none;" id="startgame" class="content-head setup">
            <a class="pure-button pure-button-primary" onClick="start_game();">Start Game</a>
        </p>
    </div>
    <div class="sidebar">
        Team A
        <div id="team_a" class="splash-head"></div>
        Team B
        <div id="team_b" class="splash-head"></div>
    </div>
</div>
{% endblock content %}